<div class="wrapper">
 <div class="side-bar-entire">
    <div class="side-header"></div>
    <div class="side-main">
      <%= render "side_bar" %>
    </div>
 </div>
 <div class="main-chat-entire">
    <div class="main-header"></div>
    <div class="main-main">
      <%= render "main_chat" %>
    </div>
     <div class="main-footer"> </div>
 </div> 
</div>